.form
  = form_for [@group, @message] do |f|
    .form__input-box
      = f.text_field :content, class: "form__input-box__input-text", placeholder: "type a message"
      = f.label :image, class: "form__input-box__input-image" do
        =fa_icon "image"
        = f.file_field :image, class: "hidden"
    = f.submit "Send", class: "form__submit"